@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Klaida</title>
</head>
<body>
    <hgroup>
        <h1>Klaida.</h1>
        <h2>Neautorizuotas arba klaidą sistemoje.</h2>
    </hgroup>
</body>
</html>
