<div ng-controller="registerController">
    <form class="form-horizontal" name="registerForm" role="form">
               <table class="table" style="width: 30%;">
                <tbody style="text-align: left;">
                    <tr>
                        <td> Vardas: </td>
                        <td > <input type="text" name="vardas" id="vardas"> </td>
                    </tr>
                    <tr>
                        <td> Pavardė: </td>
                        <td > <input type="text" name="pavarde" id="pavarde"></td>
                    </tr>
                    <tr>
                        <td> Email: </td>
                        <td> <input type="text" name="email" id="email"><span style="color:red;font: small-caption;">&#9733;</span></td>
                    </tr>
                    <tr>
                        <td> Prisijungimo vardas: </td>
                        <td > <input type="text" name="username" id="username"><span style="color:red;font: small-caption;">&#9733;</span></td>
                    </tr>
                    <tr>
                        <td> Slaptažodis: </td>
                        <td > <input type="password" name="password" id="password"><span style="color:red;font: small-caption;">&#9733;</span></td>
                    </tr>
                    <tr>
                        <td> Patvirtint slaptažodį: </td>
                        <td > <input type="password" name="passwordConfirm" id="passwordConfirm"><span style="color:red;font: small-caption;">&#9733;</span></td>
                    </tr>
                    <tr>
                        <td> Gimimo metai: </td>
                        <td > <input type="text" name="bornYear" id="bornYear" placeholder="YYYY-MM-DD"><span style="color:red;font: small-caption;">&#9733;</span></td>
                    </tr>
                    <tr>
                        <td> Vaiko ID (6 skaitmenų): </td>
                        <td > <input type="text" name="vaikoINDnr" id="vaikoINDnr"><span style="color:red;font: small-caption;">&#9733;</span></td>
                    </tr>
                    <tr>
                        <td> Miestas: </td>
                        <td> <input type="text" name="city" id="city"><span style="color:red;font: small-caption;">&#9733;</span> </td>
                    </tr>
                    <tr>
                        <td> Regionas: </td>
                        <td > <input type="text" name="region" id="region"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                                <button type="button" class="btn btn-success" ng-click="submit()">Registruoti</button>
                        </td>
                    </tr>
                    </tbody>

                </table>
            <!--Vardas: <input type="text" name="vardas" id="vardas"><br>
            Pavardė: <input type="text" name="pavardė" id="pavardė"><br>
            Email: <input type="text" name="email" id="email"><br>
            
            Vartotojas: <input type="text" name="username" id="username"><br>
            Slaptažodis: <input type="password" name="password" id="password"><br>
            Patvirtint slaptažodį: <input type="password" name="passwordConfirm" id="passwordConfirm"><br>

            Gimimo metai: <input type="text" name="bornYear" id="bornYear"><br>
            Vaiko indentifikavimo numeris: <input type="text" name="vaikoINDnr" id="vaikoINDnr"><br>
            Miestas: <input type="text" name="city" id="city"><br>
            Regionas: <input type="text" name="region" id="region"><br>-->
         

        

    </form>
</div>

<style>
   
    </style>
    